/* Layout */
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #393263;
    color: white;
    height: 100vh;
    
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
 
    height: 100%;
    
}
.digital-clock{
    display: flex;
    align-items: center;
    gap: 10px;
}
#horas-digitais{
    background-color: black;
    padding: 10px 30px;
    border-radius: 30px;
    opacity: 60%;
}
.clockbox {
    border: 2px solid #000000b6;
    border-radius: 50%;
    overflow: hidden;
    width: 80vw; 
    max-width: 600px;
    aspect-ratio: 1; /* Manter a proporção 1:1 para o relógio */
    display: flex;
    justify-content: center; 
    align-items: center; 
    -webkit-box-shadow: 30px 27px 55px -11px rgba(0,0,0,0.56);
    -moz-box-shadow: 30px 27px 55px -11px rgba(0,0,0,0.56);
    box-shadow: 30px 27px 55px -11px rgba(0,0,0,0.56);
}

#clock {
    width: 100%; 
    background-color: #1312128f;

}

.circle {
    fill: #ffffff; 

}

.hour-marks {
    stroke: #333;
    stroke-width: 5; 
}

.mid-circle {
    fill: #333; 
}

.hour-arm, .minute-arm, .second-arm {
    stroke: #333; 
    stroke-width: 6; 
    stroke-linecap: round; /*ponteiros arredondados */
}

.sizing-box {
    fill: none; /* Remove o preenchimento da caixa de dimensionamento */
    stroke: none; /* Remove a borda da caixa de dimensionamento */
}

#hour,
#minute,
#second {
    transform-origin: 300px 300px;
    /* transition: transform .5s ease-in-out; */
}
